// Variables
$left: "left";
$right: "right";
$box-shadow: 0 0 20px #ddd;
$transition: 0.3s ease;

// Colors
$colors: (
  bg: #f5f5f5,
  // Background color
  main: #2ecc71,
  // Main color (green)
  main-alt: #8e44ad,
  // Alternate main color (purple)
  main-blue: #3498db,
  // Blue shade
  main-white: white,
  main-black: black,
  888: #888,
  main-red: #e74c3c,
  // Red shade
);

// Screens
$breakpoints: (
  sm: 576px,
  // Small screens
  md: 768px,
  // Medium screens
  lg: 992px,
  // Large screens
);

// Media Query Mixins
@mixin smMin {
  @media (min-width: map-get($breakpoints, sm)) {
    @content;
  }
}

@mixin smMax {
  @media (max-width: map-get($breakpoints, sm - 1px)) {
    @content;
  }
}

@mixin mdMin {
  @media (min-width: map-get($breakpoints, md)) {
    @content;
  }
}

@mixin mdMax {
  @media (max-width: map-get($breakpoints, md - 1px)) {
    @content;
  }
}

@mixin lgMin {
  @media (min-width: map-get($breakpoints, lg)) {
    @content;
  }
}

@mixin lgMax {
  @media (max-width: map-get($breakpoints, lg - 1px)) {
    @content;
  }
}
